@*@model IEnumerable<MSON.loaihang>*@
@*@model Tuple<List<sanpham>, List<loaihang>>*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="Shortcut Icon" href="../../IMAGES/logo.png" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,vietnamese' rel='stylesheet' type='text/css' />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top normal" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>

                <a class="navbar-brand" href="@Url.Action("Index", "NguoiDung")">
                    <img title="Cơ khí Minh Sơn" alt="Minh Sơn" src="~/IMAGES/logo.png">
                </a>

            </div>


            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"><a href="@Url.Action("Index", "NguoiDung")"><i class="fa fa-home fa-lg"></i>&nbsp;Trang chủ</a></li>

                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "SanPham" ? "active" : "")"><a href="@Url.RouteUrl("RouteSanPham", new { page = 1, loai = 0 })"><i class="fa fa-gears fa-lg"></i>&nbsp;Sản phẩm</a></li>


                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sản phẩm <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var item in Model.Item2)
                                {
                                    <li>@Html.ActionLink(@Html.DisplayFor(modelItem => item.TENLOAI).ToString(), "SanPham", "NguoiDung", new { id = item.ID }, null)</li>

                                }

                            </ul>
                        </li>*@
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "VeChungToi" ? "active" : "")"><a href="@Url.Action("VeChungToi", "NguoiDung")"><i class="fa fa-users fa-lg"></i>&nbsp;Về chúng tôi</a></li>


                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "TuyenDung" ? "active" : "")"><a href="@Url.Action("Index", "NguoiDung")"><i class="fa fa-user-plus fa-lg"></i>&nbsp;Tuyển dụng</a></li>
                </ul>
                @{
                    string action = ViewContext.RouteData.Values["action"].ToString();

                    if (action == "SanPham")
                    {
                        using (Ajax.BeginForm(new AjaxOptions
                        {
                            HttpMethod = "post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "zoneUpdateAjax"


                        }))
                        {
                            <div class="navbar-form navbar-right normal" id="formSearch" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="tbTimKiem" style="z-index: 999; display: inline;" name="tensp" placeholder="Tên máy">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search fa-lg"></i></button>

                                </div>
                            </div>
                        }
                    }
                }


                @*@using (Html.BeginForm("SanPham", "NguoiDung",FormMethod.Post))
                    {
                        <div class="navbar-form navbar-right normal" id="formSearch" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" name="id" placeholder="Thông tin">
                            </div>
                            <button type="submit" class="btn btn-default">Tìm</button>
                        </div>
                    }*@

            </div>

        </div>
    </nav>

    <div class="container body-content" id="divBaoBocBody">
        <br />
        <br />
        <br />
        @RenderBody()




    </div>




    <footer class="footer" style="background-color: #333333; width: 100%; height: 100%; color: white; bottom: 0; left: 0;">
        <div class="container">
            <br />
            <p class="text-muted" style="color: white;">Công ty TNHH-MTV Cơ khí chế tạo Minh Sơn - MST: 3602477324 - Địa chỉ: 20A/4 phường Tam Hòa, Biên Hòa, Đồng Nai</p>

            <p class="text-muted" style="color: white;">&copy; @DateTime.Now.Year -Thiết kế và phát triển Trần Bảo Hữu</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/flexslider")
    @Scripts.Render("~/bundles/unslider")
    @Scripts.Render("~/bundles/less")
    @Scripts.Render("~/bundles/unobtrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap-select")
    @Scripts.Render("~/bundles/parallax")
    @*@Scripts.Render("~/bundles/angular")*@



    @*@Scripts.Render("~/bundles/magnify")*@



    <script type="text/javascript">
        $(document).ready(function () {






            //Sự kiện droplist LoaiSP change

            $("#dropListLoaiSP").change(function () {

                var valueLoai = ($("#dropListLoaiSP option:selected").val());

                //window.location.href = "/NguoiDung/SanPham?page=1&loai=" + valueLoai;
                window.location.href = "/NguoiDung/SanPham/1/" + valueLoai;


            });


            //Live-Search cho droplist
            $("#dropListLoaiSP").attr("data-live-search", true);



            //dropdown list live-search

            $('.selectpicker').selectpicker();


            //set trắng textbox tìm kiếm

            $("#tbTimKiem").focus(function () {

                $("#tbTimKiem").val("");

            });


            //autocomplete tbTimKiem

            $("#tbTimKiem").autocomplete({
                source: '@Url.Action("AutoCompleteSanPham", "NguoiDung")'

            });


            //của slideshow
            $('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                thumbCaptions: true
            });

            var unslider = $('.banner').unslider();

            $('.unslider-arrow').click(function () {
                var fn = this.className.split(' ')[1];

                //  Either do unslider.data('unslider').next() or .prev() depending on the className
                unslider.data('unslider')[fn]();
            });


            //Magnify ảnh
            //$('img').magnify(
            //{
            //    speed: 200
            //});


            //Menu tự co vào khi scroll
            $(window).scroll(function () {
                if ($(document).scrollTop() > 50) {
                    $('nav').addClass('shrink');
                    $('#formSearch').addClass('shrink');
                } else {
                    $('nav').removeClass('shrink');
                    $('#formSearch').removeClass('shrink');
                }
            });

        });


        //Code tô màu vị trí trang đang đứng trên thanh menu bar
        //$(".navbar-collapse li").click(function () {


        //    $(this).addClass("active");


        //});


    </script>
    @RenderSection("scripts", required: false)


</body>
</html>
