<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")




</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Control Panel", "Index", "HeThong", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Quản lý sản phẩm", "Index", "HeThong")</li>
                    @if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
                    {
                        string username = FormsAuthentication.Decrypt(Request.Cookies[FormsAuthentication.FormsCookieName].Value).Name;

                        if (username.Equals("admin"))
                        {

                            <li>@Html.ActionLink("Quản lý người dùng", "QuanLyNguoiDung", "HeThong")</li>

                            @*<ul class="nav navbar-nav pull-right ">
                                    <li>@Html.ActionLink("Thêm người dùng", "RegisterCustomize", "HeThong")</li>

                                </ul>*@
                        }
                    }
                    @*<li>@Html.ActionLink("Thêm", "About", "Home")</li>
                        <li>@Html.ActionLink("Xóa", "Contact", "Home")</li>*@
                </ul>

                @if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
                {

                    <ul class="nav navbar-nav pull-right ">
                        <li>@Html.ActionLink("Đăng xuất", "DangXuat", "HeThong")</li>

                    </ul>
                }
                @*@Html.Partial("_LoginPartial")*@



            </div>

        </div>
    </div>
    <div class="container body-content">
        <br />
        <br />
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")



    <script type="text/javascript">
        $(document).ready(function () {


            //bộ lịch
            $(".datepicker").datepicker(
            {
                dateFormat: "dd/mm/yy"
            });


            //kiểm tra radio button
            $('input[type=checkbox][name=groundHinh]').change(function () {


                if ($("#checkUpHinh").prop("checked")) {


                    $("#fileUpHinh").prop("disabled", null);
                }




            });


            //Lấy hình đã chọn

            $(".modal-body").find("img").click(function () {


                var fileName = $(this).prop("alt");


                $("#tbURLHinhAnh").val(fileName);

                $('#myModal').modal("hide");

                $("#imgEditPreview").prop("src", "/IMAGES/" + fileName);
            });


        });



    </script>






    @RenderSection("scripts", required: false)


    @* javascript viết từ đây sau thư viện jquery *@



</body>
</html>
