@*@model IEnumerable<MSON.loaihang>*@
@*@model Tuple<List<sanpham>, List<loaihang>>*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="Shortcut Icon" href="../../IMAGES/logo.png" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,vietnamese' rel='stylesheet' type='text/css' />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top normal" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "NguoiDung")">
                    <img alt="Minh Sơn" src="../../IMAGES/logo.png">
                </a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "NguoiDung")"><i class="fa fa-home fa-lg"></i>&nbsp;Trang chủ</a></li>

                    <li><a href="@Url.Action("SanPham", "NguoiDung")"><i class="fa fa-gears fa-lg"></i>&nbsp;Sản phẩm</a></li>


                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sản phẩm <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var item in Model.Item2)
                                {
                                    <li>@Html.ActionLink(@Html.DisplayFor(modelItem => item.TENLOAI).ToString(), "SanPham", "NguoiDung", new { id = item.ID }, null)</li>

                                }

                            </ul>
                        </li>*@
                    <li><a href="@Url.Action("VeChungToi", "NguoiDung")"><i class="fa fa-users fa-lg"></i>&nbsp;Về chúng tôi</a></li>


                    <li><a href="@Url.Action("Index", "NguoiDung")"><i class="fa fa-user-plus fa-lg"></i>&nbsp;Tuyển dụng</a></li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container body-content">
        <br />
        <br />
        <br />
        @RenderBody()
        <hr />




    </div>




    <footer class="footer" style="background-color: #333333; width: 100%; height: 100%; color: white; bottom: 0; left: 0;">
        <div class="container">
            <br />
            <p class="text-muted" style="color: white;">Công ty TNHH-MTV Cơ khí chế tạo Minh Sơn - MST: 123456789 - Địa chỉ: 123/5a Bùi Thượng</p>

            <p class="text-muted" style="color: white;">&copy; @DateTime.Now.Year -Thiết kế và phát triển Trần Bảo Hữu</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/flexslider")
    @Scripts.Render("~/bundles/unslider")



    <script type="text/javascript">
        $(document).ready(function () {

        //của slideshow
            $('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                thumbCaptions: true
            });

            var unslider = $('.banner').unslider();

            $('.unslider-arrow').click(function () {
                var fn = this.className.split(' ')[1];

                //  Either do unslider.data('unslider').next() or .prev() depending on the className
                unslider.data('unslider')[fn]();
            });






        });
        //Menu tự co vào khi scroll
        $(window).scroll(function () {
            if ($(document).scrollTop() > 50) {
                $('nav').addClass('shrink');
            } else {
                $('nav').removeClass('shrink');
            }
        });

    </script>
    @RenderSection("scripts", required: false)


</body>
</html>
