@model IPagedList<MSON.sanpham>

<div id="zoneUpdateAjax">
    <div class="row">

        @foreach (var item in Model)
        {

            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-12">

                            <p class="text-center" style="font-size: large;">
                                @Html.ActionLink(item.TEN, "Detail_SanPham", "NguoiDung", new { Id = item.ID }, null)
                            </p>

                        </div>
                        <hr />
                        <div class="col-md-12 margin-bottom-10px">
                            <img class="img-round center-block product-image" data-original="#" alt="Không có hình" src="~/IMAGES/@Html.DisplayFor(itemModel => item.IMG_URL)" style="display: block; border-radius: 0; margin-left: -4px;margin-top: -20px">
                        </div>


                        <div class="col-md-12 margin-bottom-10px">
                            <div class="col-md-4">
                                <i class="fa fa-arrows-h" aria-hidden="true"><span class="padding-left-8px">300mm</span></i>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-arrows-v" aria-hidden="true"><span class="padding-left-8px">200mm</span></i>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-balance-scale" aria-hidden="true"><span class="padding-left-8px">2kg</span></i>
                            </div>

                        </div>
                        <hr />
                        <div class="col-md-12 margin-bottom-10px">
                            <div class="col-md-4">
                                <i class="fa fa-calendar" aria-hidden="true"><span class="padding-left-8px">@item.NGAYNHAP.Value.ToString("dd/MM/yyyy")</span></i>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-diamond"><span class="padding-left-8px">Inox</span></i>
                            </div>

                            <div class="col-md-4">
                                <i class="fa fa-money"><span class="padding-left-8px">5.000.000</span></i>
                            </div>


                        </div>
                        @*<div class="col-md-12 btn btn-primary btn-lg btn-block">
                                <div class="caption">
                                    @Html.ActionLink("Xem", "Detail_SanPham", "NguoiDung", new {Id = item.ID}, new {@class = "btn btn-primary btn-lg btn-block"})
                                </div>
                            </div>*@
                    </div>
                    @*@Html.ActionLink("Xem", "Detail_SanPham", "NguoiDung", new { Id = item.ID }, new { @class = "btn btn-primary btn-lg btn-block" })*@


                </div>
                <a href="@Url.Action("Detail_SanPham", "NguoiDung",new {id=@item.ID})" id="@item.ID" class="btn btn-primary btn-lg btn-block radius-button-detail" style="margin-top: -23px">Xem</a>
                <br />
                <br />
            </div>

        }



    </div>

    <div class="pagedList">
        @Html.PagedListPager(Model, page => @Url.Action("SanPham", "NguoiDung", new { page, loai = ViewBag.IDLoaiHang }), new PagedListRenderOptions() { LinkToFirstPageFormat = "Trang đầu", LinkToLastPageFormat = "Trang cuối", LinkToNextPageFormat = "Sau", LinkToPreviousPageFormat = "Trước" })
    </div>


</div>