@*@model IEnumerable<MSON.sanpham>*@
@model Tuple<List<sanpham>, List<loaihang>>

@{
    ViewBag.Title = "Index";
}

<h2>Sản phẩm</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MOTA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NGAYNHAP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loaihang.TENLOAI)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MOTA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NGAYNHAP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loaihang.TENLOAI)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>*@


<div class="flexslider">
    <ul class="slides">
        <li>
            <img src="../../IMAGES/k1.jpg" />
        </li>
        <li>
            <img src="../../IMAGES/k2.jpg" />
        </li>
        <li>
            <img src="../../IMAGES/k3.jpg" />
        </li>

    </ul>
</div>


@*<div class="banner">
        <ul>
            <li>
                <img src="../../IMAGES/1.jpeg"/>
            </li>
            <li>
                <img src="../../IMAGES/2.jpeg"/>
            </li>
            <li>
                <img src="../../IMAGES/3.jpeg"/>
            </li>
        </ul>
    </div>*@

@*<a href="#" class="unslider-arrow prev">Previous slide</a>
    <a href="#" class="unslider-arrow next"><i class="fa fa-chevron-right"></i></a>*@

<div class="page-header header-mathang">
    <h1>
        Mẫu khuôn
        <small>@Html.ActionLink("Xem thêm", "SanPham", "NguoiDung", new { id = 1 }, new { @class = "btn btn-success" })</small>
    </h1>
</div>
<div class="row">

    @foreach (var item in Model.Item1)
    {
        if (item.ID_LOAIHANG == 1)
        {
            <div class="col-md-3">
                <div class="thumbnail">
                    <div>

                        <p class="text-center">
                            @Html.ActionLink(item.TEN, "Detail_SanPham", "NguoiDung", new { Id = item.ID }, null)
                        </p>
                    </div>

                    <img class="" data-original="#" width="320" height="240" alt="Không có hình" src="@Html.DisplayFor(itemModel => item.IMG_URL)" style="display: block;">
                    <div class="caption">
                        <p>

                            @Html.ActionLink("Xem", "Detail_SanPham", "NguoiDung", new { Id = item.ID }, new { @class = "btn btn-primary btn-lg btn-block" })
                        </p>
                    </div>
                </div>
            </div>
        }
    }


</div>

<div class="page-header header-mathang">
    <h1>
        Mẫu máy
        <small>@Html.ActionLink("Xem thêm", "SanPham", "NguoiDung", new { id = 2 }, new { @class = "btn btn-success" })</small>

    </h1>
</div>
<div class="row">

    @foreach (var item in Model.Item1)
    {
        if (item.ID_LOAIHANG == 2)
        {
            <div class="col-md-3">
                <div class="thumbnail">
                    <div>

                        <p class="text-center">
                            @Html.ActionLink(item.TEN, "Detail_SanPham", "NguoiDung", new { Id = item.ID }, null)
                        </p>
                    </div>

                    <img class="" data-original="#" width="320" height="240" alt="Không có hình" src="@Html.DisplayFor(itemModel => item.IMG_URL)" style="display: block;">
                    <div class="caption">
                        <p>

                            @Html.ActionLink("Xem", "Detail_SanPham", "NguoiDung", new { Id = item.ID }, new { @class = "btn btn-primary btn-lg btn-block" })
                        </p>
                    </div>
                </div>
            </div>
        }
    }


</div>