@model IEnumerable<MSON.sanpham>


@{
    ViewBag.Title = "Index";
}

<h2>Sản phẩm</h2>

<p>
    @Html.ActionLink("Create New", "Create","", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYNHAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loaihang.TENLOAI)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYNHAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loaihang.TENLOAI)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Edit", "Edit_SanPham", new { id = item.ID }, new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>


