@model IEnumerable<MSON.Models.KieuCuaToiModels>

@{
    ViewBag.Title = "LayDanhSach";
}

<h2>LayDanhSach</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayNhap)
        </td>

        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.TenHang }) |
            @Html.ActionLink("Details", "Details", new { id=item.TenHang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TenHang })*@
        </td>
    </tr>
}

</table>
